footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px var(--padding);
    background: var(--color3-bg);
}

footer .container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
}

footer .col {
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

footer .col-1 .logo {
    display: block;
    width: 100%;
    max-width: 150px;
}

footer .col-1 .logo a {
    width: 100%;
}

footer .col-1 .logo a img {
    width: 100%;
}

footer .col-1 b {
    font-family: title;
    color: var(--color3-txt);
}

footer .col-1 .social {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    max-width: 100px;
}

footer .col-1 .social a {
    padding: 5px;
}

footer .col-1 .social a svg {
    font-size: 1.1rem;
    color: var(--color3-txt);
    opacity: 0.8;
}

footer .col h3 {
    font-family: title;
    color: var(--color3-txt);
}

footer .col ul {}

footer .col ul li {
    list-style: none;
}

footer .col ul li a {
    text-decoration: none;
    color: var(--color3-txt);
    font-family: link;
    font-size: 1.3rem;
    opacity: 0.8;
    transition: all 0.2s ease;
}

footer .col ul li a:hover {
    opacity: 1;
    transition: all 0.2s ease;
}









@media (max-width: 900px) {
    footer .container {
        flex-direction: column;
        gap: 50px;
    }
    
    footer .col ul {
        text-align: center;
    }
}



































/**/